@import '../tailwind/styles.css';

@import '../tokens/index.css';

@import './_a11y.css';
@import './_link.css';
@import './_scrollbar.css';
@import './_svg.css';

:root {
	background-color: var(--ds-color-bg-page);
	color: var(--ds-color-text-default);
}

body {
	margin: 0 !important;
	padding: 0 !important;
	width: unset !important;
}

hr {
	border-color: var(--ds-color-border-subtle);
	width: 100%;
}
