# Editor Config
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Environment
*.local
*.pem

# Testing
/coverage

# Next.js
next-env.d.ts
/public/workers

# Vercel
.vercel

# Storybook
*storybook.log
storybook-static

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Output
/.next
/out
/out-app
/out-sb
/out-e2e
/out-e2e-live
/out-e2e-local
