@import './_dist/blur.css';
@import './_dist/breakpoint.css';
@import './_dist/color.css';
@import './_dist/font-family.css';
@import './_dist/font-size.css';
@import './_dist/font-weight.css';
@import './_dist/line-height.css';
@import './_dist/radius.css';
@import './_dist/shadow.css';
@import './_dist/spacing.css';
@import './_dist/surface.css';
@import './_dist/z-index.css';

@font-face {
  font-style: normal;
  font-weight: 100 900;
  font-stretch: extra-condensed normal;
  src: url('../../assets/fonts/geist-variable.woff2') format('woff2-variations');
  font-family: 'Geist';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 100 900;
  font-stretch: extra-condensed normal;
  src: url('../../assets/fonts/geist-mono-variable.woff2') format('woff2-variations');
  font-family: 'Geist Mono';
  font-display: swap;
}
