@import './_vars/blur.css';
@import './_vars/breakpoint.css';
@import './_vars/color.css';
@import './_vars/font-family.css';
@import './_vars/font-size.css';
@import './_vars/font-weight.css';
@import './_vars/line-height.css';
@import './_vars/radius.css';
@import './_vars/shadow.css';
@import './_vars/spacing.css';
@import './_vars/z-index.css';

@font-face {
  font-style: normal;
  font-weight: 100 900;
  font-stretch: extra-condensed normal;
  src: url('../../assets/fonts/geist-variable.woff2') format('woff2-variations');
  font-family: 'Geist';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 100 900;
  font-stretch: extra-condensed normal;
  src: url('../../assets/fonts/geist-mono-variable.woff2') format('woff2-variations');
  font-family: 'Geist Mono';
  font-display: swap;
}
