/* Color tokens */

:host,
:root {
	--ds-color-white: #fff;
	--ds-color-black: #1c1a1d;

	/* https://noeldelgado.github.io/shadowlord/#8a8391 with % 5.7 */
	--ds-color-grey-1: #fbfbfc;
	--ds-color-grey-2: #f5f4f5; /* Light bg */
	--ds-color-grey-3: #eeedef;
	--ds-color-grey-4: #e7e6e9;
	--ds-color-grey-5: #dad8dc;
	--ds-color-grey-6: #cdcad0;
	--ds-color-grey-7: #bfbcc3;
	--ds-color-grey-8: #b2adb7;
	--ds-color-grey-9: #a59faa;
	--ds-color-grey-10: #97919e;
	--ds-color-grey-11: #8a8391;
	--ds-color-grey-12: #7a7480;
	--ds-color-grey-13: #6b6570;
	--ds-color-grey-14: #5b565f;
	--ds-color-grey-15: #4b474f;
	--ds-color-grey-16: #434047;
	--ds-color-grey-17: #3b383e;
	--ds-color-grey-18: #333136;
	--ds-color-grey-19: #2c292e; /* Dark bg */
	--ds-color-grey-20: #242226;

	--ds-color-purple-1: #e9d5ff;
	--ds-color-purple-2: #d8b4fe;
	--ds-color-purple-3: #c389fc;
	--ds-color-purple-4: #a85eee;
	--ds-color-purple-5: #9d49ec;
	--ds-color-purple-6: #9333ea;
	--ds-color-purple-7: #6b21a8;
	--ds-color-purple-8: #4c1874;

	--ds-color-yellow-1: #fef9c3;
	--ds-color-yellow-2: #fef6b6;
	--ds-color-yellow-3: #fde56c;
	--ds-color-yellow-4: #facc15;
	--ds-color-yellow-5: #ca8a04;
	--ds-color-yellow-6: #a36b04;
	--ds-color-yellow-7: #a16107;
	--ds-color-yellow-8: #905606;

	--ds-color-red-1: #fecaca;
	--ds-color-red-2: #fca5a5;
	--ds-color-red-3: #fc7a7a;
	--ds-color-red-4: #f87171;
	--ds-color-red-5: #de3434;
	--ds-color-red-6: #d92323;
	--ds-color-red-7: #b61b1b;
	--ds-color-red-8: #7f1d1d;

	--ds-color-green-1: #dcfce7;
	--ds-color-green-2: #bbf7d0;
	--ds-color-green-3: #4ade80;
	--ds-color-green-4: #22c55e;
	--ds-color-green-5: #16a34a;
	--ds-color-green-6: #15873f;
	--ds-color-green-7: #13803b;
	--ds-color-green-8: #14532d;

	--ds-color-black-alpha-1: rgba(10, 0, 15, 0.03);
	--ds-color-black-alpha-2: rgba(10, 0, 15, 0.06);
	--ds-color-black-alpha-3: rgba(10, 0, 15, 0.09);
	--ds-color-black-alpha-4: rgba(10, 0, 15, 0.12);
	--ds-color-black-alpha-5: rgba(10, 0, 15, 0.16);
	--ds-color-black-alpha-6: rgba(10, 0, 15, 0.24);
	--ds-color-black-alpha-7: rgba(10, 0, 15, 0.32);
	--ds-color-black-alpha-8: rgba(10, 0, 15, 0.4);
	--ds-color-black-alpha-9: rgba(10, 0, 15, 0.48);
	--ds-color-black-alpha-10: rgba(10, 0, 15, 0.56);

	--ds-color-white-alpha-1: rgba(250, 245, 255, 0.03);
	--ds-color-white-alpha-2: rgba(250, 245, 255, 0.06);
	--ds-color-white-alpha-3: rgba(250, 245, 255, 0.09);
	--ds-color-white-alpha-4: rgba(250, 245, 255, 0.12);
	--ds-color-white-alpha-5: rgba(250, 245, 255, 0.16);
	--ds-color-white-alpha-6: rgba(250, 245, 255, 0.24);
	--ds-color-white-alpha-7: rgba(250, 245, 255, 0.32);
	--ds-color-white-alpha-8: rgba(250, 245, 255, 0.4);
	--ds-color-white-alpha-9: rgba(250, 245, 255, 0.48);
	--ds-color-white-alpha-10: rgba(250, 245, 255, 0.56);
}

:host,
:root {
	--ds-color-bg-page: var(--ds-color-grey-2);
	--ds-color-bg-card: var(--ds-color-grey-1);
	--ds-color-bg-popup: var(--ds-color-white);
	--ds-color-bg-coding: var(--ds-color-white);
	--ds-color-bg-field: var(--ds-color-black-alpha-1);
	--ds-color-bg-skeleton: var(--ds-color-black-alpha-3);
	--ds-color-bg-link: var(--ds-color-black-alpha-2);
	--ds-color-bg-blockquote: var(--ds-color-black-alpha-1);

	--ds-color-border-active: var(--ds-color-grey-12);
	--ds-color-border-hover: var(--ds-color-grey-11);
	--ds-color-border-default: var(--ds-color-grey-7);
	--ds-color-border-subtle: var(--ds-color-black-alpha-3);
	--ds-color-border-shadow: var(--ds-color-grey-3);

	--ds-color-text-default: var(--ds-color-black);
	--ds-color-text-subtle: var(--ds-color-grey-13);
	--ds-color-text-placeholder: var(--ds-color-grey-11);
	--ds-color-text-inverse: var(--ds-color-white);
	--ds-color-text-link: var(--ds-color-purple-8);

	--ds-color-hover-text-default: var(--ds-color-black-alpha-2);
	--ds-color-hover-text-pressed: var(--ds-color-black-alpha-3);
	--ds-color-hover-button-default: var(--ds-color-black-alpha-5);
	--ds-color-hover-button-pressed: var(--ds-color-black-alpha-7);

	--ds-color-primary-button-bg: var(--ds-color-purple-6);
	--ds-color-primary-button-text: var(--ds-color-white);
	--ds-color-primary-hover-default: var(--ds-color-hover-button-default);
	--ds-color-primary-hover-pressed: var(--ds-color-hover-button-pressed);
	--ds-color-primary-card-bg: var(--ds-color-purple-1);
	--ds-color-primary-card-text: var(--ds-color-purple-8);
	--ds-color-primary-card-subtext: var(--ds-color-purple-7);
	--ds-color-primary-page-text: var(--ds-color-purple-6);

	--ds-color-secondary-button-bg: var(--ds-color-yellow-3);
	--ds-color-secondary-button-text: var(--ds-color-yellow-8);
	--ds-color-secondary-hover-default: var(--ds-color-black-alpha-4);
	--ds-color-secondary-hover-pressed: var(--ds-color-black-alpha-5);
	--ds-color-secondary-card-bg: var(--ds-color-yellow-1);
	--ds-color-secondary-card-text: var(--ds-color-yellow-8);
	--ds-color-secondary-card-subtext: var(--ds-color-yellow-7);
	--ds-color-secondary-page-text: var(--ds-color-yellow-7);

	--ds-color-danger-button-bg: var(--ds-color-red-6);
	--ds-color-danger-button-text: var(--ds-color-white);
	--ds-color-danger-hover-default: var(--ds-color-hover-button-default);
	--ds-color-danger-hover-pressed: var(--ds-color-hover-button-pressed);
	--ds-color-danger-card-bg: var(--ds-color-red-1);
	--ds-color-danger-card-text: var(--ds-color-red-8);
	--ds-color-danger-card-subtext: var(--ds-color-red-7);
	--ds-color-danger-page-text: var(--ds-color-red-6);

	--ds-color-success-button-bg: var(--ds-color-green-6);
	--ds-color-success-button-text: var(--ds-color-white);
	--ds-color-success-hover-default: var(--ds-color-hover-button-default);
	--ds-color-success-hover-pressed: var(--ds-color-hover-button-pressed);
	--ds-color-success-card-bg: var(--ds-color-green-1);
	--ds-color-success-card-text: var(--ds-color-green-8);
	--ds-color-success-card-subtext: var(--ds-color-green-7);
	--ds-color-success-page-text: var(--ds-color-green-7);

	--ds-color-modal-overlay-subtle: var(--ds-color-black-alpha-5);
	--ds-color-modal-overlay-strong: var(--ds-color-black-alpha-9);
}

[data-color-theme='dark'] {
	--ds-color-bg-page: var(--ds-color-grey-19);
	--ds-color-bg-card: var(--ds-color-grey-18);
	--ds-color-bg-popup: var(--ds-color-grey-17);
	--ds-color-bg-field: var(--ds-color-black-alpha-4);
	--ds-color-bg-coding: var(--ds-color-grey-20);
	--ds-color-bg-skeleton: var(--ds-color-white-alpha-5);
	--ds-color-bg-link: var(--ds-color-black-alpha-5);
	--ds-color-bg-blockquote: var(--ds-color-white-alpha-2);

	--ds-color-border-active: var(--ds-color-grey-8);
	--ds-color-border-hover: var(--ds-color-grey-12);
	--ds-color-border-default: var(--ds-color-grey-14);
	--ds-color-border-subtle: var(--ds-color-white-alpha-4);
	--ds-color-border-shadow: var(--ds-color-grey-20);

	--ds-color-text-default: var(--ds-color-white);
	--ds-color-text-subtle: var(--ds-color-grey-8);
	--ds-color-text-placeholder: var(--ds-color-grey-11);
	--ds-color-text-inverse: var(--ds-color-black);
	--ds-color-text-link: var(--ds-color-purple-1);

	--ds-color-hover-text-default: var(--ds-color-black-alpha-5);
	--ds-color-hover-text-pressed: var(--ds-color-black-alpha-6);
	--ds-color-hover-button-default: var(--ds-color-black-alpha-5);
	--ds-color-hover-button-pressed: var(--ds-color-black-alpha-7);

	--ds-color-primary-button-bg: var(--ds-color-purple-5);
	--ds-color-primary-button-text: var(--ds-color-white);
	--ds-color-primary-hover-default: var(--ds-color-hover-button-default);
	--ds-color-primary-hover-pressed: var(--ds-color-hover-button-pressed);
	--ds-color-primary-card-bg: var(--ds-color-purple-8);
	--ds-color-primary-card-text: var(--ds-color-white);
	--ds-color-primary-card-subtext: var(--ds-color-purple-3);
	--ds-color-primary-page-text: var(--ds-color-purple-3);

	--ds-color-secondary-button-bg: var(--ds-color-yellow-2);
	--ds-color-secondary-button-text: var(--ds-color-yellow-7);
	--ds-color-secondary-hover-default: var(--ds-color-hover-button-default);
	--ds-color-secondary-hover-pressed: var(--ds-color-black-alpha-6);
	--ds-color-secondary-card-bg: var(--ds-color-yellow-7);
	--ds-color-secondary-card-text: var(--ds-color-white);
	--ds-color-secondary-card-subtext: var(--ds-color-yellow-1);
	--ds-color-secondary-page-text: var(--ds-color-yellow-2);

	--ds-color-danger-button-bg: var(--ds-color-red-5);
	--ds-color-danger-button-text: var(--ds-color-white);
	--ds-color-danger-hover-default: var(--ds-color-hover-button-default);
	--ds-color-danger-hover-pressed: var(--ds-color-hover-button-pressed);
	--ds-color-danger-card-bg: var(--ds-color-red-8);
	--ds-color-danger-card-text: var(--ds-color-white);
	--ds-color-danger-card-subtext: var(--ds-color-red-2);
	--ds-color-danger-page-text: var(--ds-color-red-3);

	--ds-color-success-button-bg: var(--ds-color-green-6);
	--ds-color-success-button-text: var(--ds-color-white);
	--ds-color-success-hover-default: var(--ds-color-hover-button-default);
	--ds-color-success-hover-pressed: var(--ds-color-hover-button-pressed);
	--ds-color-success-card-bg: var(--ds-color-green-8);
	--ds-color-success-card-text: var(--ds-color-white);
	--ds-color-success-card-subtext: var(--ds-color-green-3);
	--ds-color-success-page-text: var(--ds-color-green-3);

	--ds-color-modal-overlay-subtle: var(--ds-color-black-alpha-6);
	--ds-color-modal-overlay-strong: var(--ds-color-black-alpha-10);
}
