.select-field--dropdown {
  z-index: var(--ds-z-index-dropdown) !important;
  box-shadow: var(--ds-shadow-md);
  border: 1px solid var(--ds-color-border-subtle);
  background-color: var(--ds-color-bg-menu);
  padding: var(--ds-spacing-xs-1);
}

.select-field--option {
  position: relative;
  color: var(--ds-color-text-default);

  &:hover:not([data-combobox-disabled]) {
    background: var(--ds-color-hover-text-default);
  }
  /*&[data-combobox-active] {*/
  /*  background: var(--ds-color-yellow-1);*/
  /*  color: var(--ds-color-secondary-button-text) !important;*/
  /*}*/
  &[data-combobox-selected] {
    background: var(--ds-color-secondary-button-bg) !important;
    color: var(--ds-color-secondary-button-text) !important;
  }

  & svg {
    opacity: 1;
  }
}
